.app {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.btnDiv {
  display: block;
}
.btnStart,
.btnStop {
  width: 100px;
  padding: 8px 12px;
  margin: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btnStop:hover {
  background: rgb(130, 245, 239);
}

.divVideo {
  width: 100%;
  margin-top: 8px;
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}
.videoView {
  display: inline;
  width: 100%;
  height: 100%;
  background: rgb(223, 218, 218);
}
